<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.user.mapper.CouponMapper">
    <resultMap id="couponMap" type="com.sk.user.po.Coupon">
        <id property="couponId" column="coupon_id"/>
        <result property="endTime" column="end_time"/>
        <result property="couponMoney" column="coupon_money"/>
        <result property="condition" column="condition"/>
        <result property="ptId" column="pt_id"/>
        <result property="beginTime" column="begin_time"/>
        <result property="state" column="state"/>
    </resultMap>
    <select id="queryAllCoupons" resultMap="couponMap">
        select * from  coupon where user_id = #{userId}
    </select>
    <update id="updateState">
        update coupon set state=#{state} where coupon_id =#{couponId}
    </update>

</mapper>