<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.user.mapper.ReceiveAddrMapper">
    <resultMap id="receiveMap" type="com.sk.user.po.ReceiverAddr">
        <id property="raId" column="ra_id"/>
        <result property="userId" column="user_id" />
        <result property="raName" column="ra_name" />
        <result property="raPhone" column="ra_phone" />
        <result property="raAddr" column="ra_addr" />
        <result property="raTel" column="ra_tel" />
        <result property="zipCode" column="zip_code" />
        <result property="raState" column="ra_state"/>
        <result property="detailaddr" column="detailaddr"/>
    </resultMap>
    <select id="queryAddrById" resultMap="receiveMap">
        select * from receiver_addr where ra_id = #{RaId}
    </select>
    <select id="queryAllAddr" resultMap="receiveMap">
        select * from receiver_addr
    </select>
    <update id="updateAddr">
        update receiver_addr ra
        <set>
            <if test="raName != null and raName != '' ">
                ra.ra_name = #{raName},
            </if>
            <if test="raPhone != null and raPhone != ''">
                ra.ra_phone = #{raPhone},
            </if>
            <if test="raAddr != null and raAddr != ''">
                ra.ra_addr = #{raAddr},
            </if>
            <if test="raTel != null and raTel != ''">
                ra.ra_tel = #{raTel},
            </if>
            <if test="zipCode != null and zipCode != '' ">
                ra.zip_code = #{zipCode},
            </if>
            <if test="raState != null and raState != ''">
                ra.ra_state = #{raState},
            </if>
            <if test="detailaddr != null and detailaddr != ''">
                ra.ra_detailaddr = #{detailaddr},
            </if>
        </set>
        where ra_id = #{raId}
    </update>
    <delete id="deleteAddr">
        delete from receiver_addr where ra_id = #{raId}
    </delete>
</mapper>